@use "../media/" as *;

.home {
    &__user {
      display: flex;
      flex-direction: column;
      padding-right: 20px;
        &-greet,&-name,&-position {
            overflow: hidden;
            white-space: nowrap;
            border-right: 4px solid transparent;
            font-weight: 700;
            text-transform: uppercase;
            
            @include md-min {
                font-size: 4em;
                letter-spacing: 0.1em;
            }
            
            @include md-xs {
                font-size: 2em;
            }
            @include xs {
                font-size: 1.5em;
            }
        }
        &-greet {
            animation: typing 1s steps(18, end), blink-caret .5s step-end 2;
        }
        &-name {
            animation: typing 1s steps(20, end), blink-caret .5s step-end 2;
        }
        &-position {
            animation: typing 1s steps(22, end), blink-caret .5s step-end 5;
        }
    }
}