@use "../media/media-mixins" as *;

.main {
    grid-area: main;
    width: 100%;
    @include sm {
        padding-top: 20px;
    }
    @include xs-min {
        min-height: 400px;
    }
    &__nav {
        height: inherit;
        display: grid;
        grid-template-areas: 
        "nav"
        "modal";
        @include sm-min {
            grid-template-rows: min-content 1fr;
        }
        @include sm {
            min-height: 350px;
            align-items: center;
            column-gap: 20px;
            grid-template-columns: min-content 1fr;
            grid-template-areas: "nav modal";
        }
        &-open_modal:hover{
            transition: 0.3s;
            transform: scale(1.1) translateZ(0);
            background-color: white;
            outline: 2px solid #66b2ff;
            opacity: 0.75;
        }
    }
    
    &__modal {
        grid-area: modal;
        opacity: 0;
        @include sm-min {
            padding: 20px;
            transform: translateX(-200%);
        }
        @include sm-xs {
            transform: translatex(200%);
            font-size: 0.7em;
            padding: 15px;
        }
        @include xs {
            transform: translatex(200%);
            padding: 15px;
            font-size: 0.6em;
        }
        &-header {
            text-align: center;
        }
        &-content {
            display: grid;
            justify-content: space-evenly;
            align-items: center;
            column-gap: 20px;
            @include md-min{
                grid-template-columns: repeat(2, max-content);
            }
            @include sm {
                row-gap: 5px;
            }
            @include md {
                grid-template-columns: 1fr                                                                                                                                                                                                                                                                                                                                                      ;
            }
            &_Skills p::before,&_Frameworks p::before, &_Languages p::before {
                position: absolute;
                left: -25px;
                top: 0;
                content: "";
                background-image: url(../img/checked.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 13px;
                height: 17px;
                @include xs {
                    width: 10px;
                    height: 8px;
                }
            }
            &_Projects {
                flex-direction: column;
                display: flex;
                align-items: flex-start;
                gap: 10px;
                @include xs {
                    gap: 5px;
                    font-size: 0.6em;
                }
            }
            &_Projects a {
                color: black;
                text-decoration: none;
            }
            &_Projects a:hover {
                transition: 0.7s;
                color:#66b2ff;
            }
            &_Projects p::before {
                position: absolute;
                left: -25px;
                top: 0;
                content: "";
                background-image: url(../img/project-link.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 13px;
                height: 17px;
                @include xs {
                    width: 10px;
                    height: 8px;
                }
            }
        }
        &-desc {
            position: relative;
        }
        
    }
    &__modal.active{
        opacity: 1;
        transition: 0.7s;
        transform: translateX(0);
        @include md {
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
        }
    }
    
}