@use "../media/" as *;

.project {
  &__item {
    height: 100vh;
    color: $light-black;
    -webkit-text-stroke: 0.3px $light-white;
    text-align: center;
    display: grid;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
    @include sm-min {
      grid-template-columns: 1fr 0.3fr 1fr;
      grid-template-areas:
      "desk mob content";
    }
    @include sm {
      grid-template-columns: 1fr 0.2fr;
      justify-items: center;
      grid-template-areas: 
      "desk mob"
      "content content";
      row-gap: 20px;
      align-items: stretch;
    }
  }
  &__img {
    width: 100%;
  }
  &__content {
    padding-left: 20px;    
    grid-area: content;
    font-size: 2em;
    @include sm {
      font-size: 1em;
    }
  }
  &__head {
    font-size: 600;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.5em;
    padding-bottom: 0.2em;
    animation: fillOpacity 3s linear forwards infinite
  }
  &__desc {
    padding-bottom: 0.5em;
  }
  &__actions {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
  &__action {
    color: $light-black;
    -webkit-text-stroke: 0.3px $light-white;
    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
}

.desk {
  grid-area: desk;
}
.mob {
  grid-area: mob;
}

.slick-dots li button:before {
  font-size: 20px !important;
  color: $light-green !important;
  
}

.slick-dots li button:hover:before { 
  color: $light-green !important;
  -webkit-text-stroke: 0.3px $light-white;
  transition: .3s;
}
.slick-dots {
  bottom: 1em !important;
  @include sm {
    bottom: 6em !important;
  }
}