@use "../media/media-mixins" as *;

.header {
    height: max-content;
    padding: 20px;
    grid-area: header;
    position: relative;
    animation: headerAndMenuIn 1s;
    @include md-min {
        text-align: center;
    }
    @include xs {
        max-width: 350px;
    }
    &__user {
        &-name{
            font-weight: 700;
            text-transform: uppercase;
            @include md-min {
                font-size: 4em;
                letter-spacing: 0.1em;
            }
            @include md {
                font-size: 2em;
            }
        }
        &-position{
            @include md-min {
                font-size: 3em;
                letter-spacing: 0.1em;
                text-align: center;
            }
            @include md {
                text-align: center;
                font-size: 1em;
            }
            @include sm {
                text-align: start;
            }
        }
    }
}