@import "tailwindcss";

:root {
  --main-color: #b0fc83;
  --secondary-color: #ecf7e6;
  --color-black: #091714;
}

@theme inline {
  --color-black: var(--color-black);
  --color-main: var(--main-color);
  --color-secondary: var(--secondary-color);
  --font-sans: var(--font-geist-sans);
  --font-primary: var(--font-primary);
}

body {
  color: var(--secondary-color);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}
